.input-field {
  display: flex;
  align-items: center; 
  margin-bottom: 15px;
}

.input-field label {
  margin-right: 10px; 
  font-weight: bold;
  width: 150px;
}

.input-field input {
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  flex: 1;
}


