@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap");

body {
  font-family: "Almarai", sans-serif;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
